/* Inicio formatação geral */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cac8c8;
}
.clear{
    clear: both;
}
/* Fim formatação geral */

/* Inicio topo do site */
#mensagem-superior{
    width: 25%;
    min-width: 280px;
    position: relative;
    left: 12%;
    top: 30%;
}
header {

    height: 180px;
    background-color:#182946;
    min-width: 720px;
}
#topo-cabecalho{
    background-color: black;
    height: 50px;
}
#logo-cabecalho{
    position: absolute;
    left: 10%;
    top: 5%;
}
/* Inicio Ícones - topo do site*/
#icone-instagram{
    margin-right: 1%;
    width: 2%;
    float: right;
    margin-top: 14px;
    min-width: 20px;
}
#icone-youtube{
    width: 2%;
    float: right;
    margin-top: 14px;
    margin-right: 4%;
    min-width: 26px;
}
.icone-lupa{
    position: absolute;
    top: 4.5em;
    right: 7%;
}
/* Fim Ícones - topo do site*/

/* Inicio navegação - topo do site*/
ul{
    margin-top: 100px;
    margin-right: 20px;
    list-style: none;
    min-width: 570px;
    width: 42%;
    background: #dc7c0b;
    position: absolute;
    right: 10%;
}
ul li{
    float: right;
}
ul a{
    display: block;
    padding: 0 2.33em;
    line-height: 2em;
    text-decoration: none;
    color: white;
    background: url(Imagens/divisor.png) repeat-y left top;
    
}
ul .primeiro a{
    background: none;
}
ul a:hover{
    color: #182945;
    background: #f6c080;
}
/* Fim navegação - topo do site*/
#pesquisa{
    width: 40%;
    height: 30px;
    margin: 20 40 0 0px;
}
.absolute{
    position: absolute;
    right: 7%;
}
/* Fim topo do site */

p{
    color: gray;
    font-weight: bold;
}
